<section id="LandingPage1-{{ section.id }}" class="" data-section="{{ section.id }}">
  {{ 'section-product-banner.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="product-banner-section" style="
    position: relative;
">
  <div class="banner-section-container" style="width: 100%;">
    <div class="a-flex-row banner-section-inner">
      <div class="banner-desc">
        <h1>Start Sleeping Like A Baby With This Audio-Aid</h1>
        <div class="banner-subtext">
          <span>This product will change your life</span>
        </div>
        <div class="show-only-on-mobile">
          {%render 'product-slider' %}
        </div>
        <div>
          <ul class="banner-list">
            <li>Effective</li>
            <li>Quick and Easy to use</li>
            <li>3 times cheaper than traditional way</li>
            <li>Never worry about ...</li>
          </ul>
        </div>
        <div class="price-save-stock">
          <div>
            <div class="sale-tag">SALE</div>
            <div class="b-price">
              <span>$39.99</span>
              <span class="comp-price">$69.99</span>
            </div>
          </div>
        </div>
{% comment %} 
        <variant-radios class="no-js-hidden saving-bundles" data-section="{{ section.id }}" data-url="{{ product.url }}"
          {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
          <fieldset class="js product-form__input">
            <legend class="form__label">{{ option.name }}</legend>
            <div class="a-flex-row-always-center">
              {%- for value in option.values -%}
              <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                {% if option.selected_value == value %}checked{% endif %}>
              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                {{ value }}
              </label>
              {% endfor %}
              <script type="application/json">
                    {{ product.variants | json }}
                  </script>
            </div>
          </fieldset>
          {%- endfor -%}
        </variant-radios> {% endcomment %}

         <variant-radios class="no-js-hidden saving-bundles" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        <div class="a-flex-row-always-center">
                          {%- for value in option.values -%}
                          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                            {% if option.selected_value == value %}checked{% endif %}>
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                          {%- endfor -%}
                          <div class="a-flex-row-always-center">
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>





            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

<div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>


        <div class="b-get-btn">
          <div>
            <button>
              <span>GET IT TODAY</span>
            </button>
          </div>
        </div>      
        <div class="b-safe-checkout">
          <div class="a-flex-row-always-center">
            <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/lock.png?v=1655214635">
            </div>
            <div>GUARANTEED SAFE CHECKOUT</div>
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/payment-logo.png?v=1655214307">
          </div>
        </div>
      </div>
      <div class="banner-img">
      
      </div>
    </div>
  </div>
</div>
</section>
{% comment %} -----------------Refferal-----------------------_ {% endcomment %}
 {% comment %} <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios> {% endcomment %}
{%- comment -%}------------------ATC----------------------------{%- endcomment -%}
{% comment %} <div {{ block.shopify_attributes }}>
  <product-form class="product-form">
    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
      <div class="product-form__buttons">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
            <span>
                {{ 'products.product.add_to_cart' | t }}
            </span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </button>
      </div>
    {%- endform -%}
  </product-form>
</div>
 {% endcomment %}
{% comment %} 
          <input type="radio" id="bundle1"
                name="{{ option.name }}"
                value="41713795661996"
                form="{{ product_form_id }}" checked="checked"
          >
          <label for="bundle1">
            <div class="saving-bundle saving-bundle1 active-bundle">
              <div>SAVE<span>30%</span></div>
              <div>1 SET</div>
              <div>Single</div>
              <div>$39.99</div>
            </div>
          </label>
          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                name="{{ option.name }}"
                value="123456"
                form="{{ product_form_id }}"
          >
            <div class="saving-bundle saving-bundle2">
              <div>SAVE<span>30%</span></div>
              <div>2 SETS</div>
              <div>Couple Bundle</div>
              <div>$59.99</div>
              <div>BEST SELLER</div>
            </div>
                      <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                name="{{ option.name }}"
                value="41713795727532"
                form="{{ product_form_id }}"
          >
            <div class="saving-bundle saving-bundle3">
              <div>SAVE<span>30%</span></div>
              <div>3 SETS</div>
              <div>Family Bundle</div>
              <div>$75.99</div>
              <div>BEST DEAL</div>
            </div> {% endcomment %}