<section id="LandingPage2-{{ section.id }}" data-section="{{ section.id }}">
   {{ 'section-product-banner-2.css' | asset_url | stylesheet_tag }}
   <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
   {%- assign product_form_id = 'product-form-' | append: section.id -%}
  
  <div class="product-banner-section">
    <div class="banner-section-container">
      <div class="a-flex-row banner-section-inner">
        <div class="banner-content">
          <div class="banner-headings mobile-center">
            <h1>{{ product.metafields.custom.bold_claim }}</h1>
            <div class="banner-subtext">
              <span>{{ product.metafields.custom.subtitle }}</span>
            </div>
            </div>

            <div class="mobile-only">
              {%render 'product-slider' %}
            </div>

            <ul class="banner-list"> 
              {% for benefit in product.metafields.custom.list_of_benefits.value %}
                <li> {{ benefit }}</li>
              {% endfor %}
            </ul>
            <div class="price-save-stock flex-row-center">
              <div class="b-price">
                <span class="sale-price">$169.99</span>
                <span class="comp-price">$249.99</span>
              </div>
              <div class="b-off">
                <div class="sale-tag">SALE</div>
              </div>
            </div>

           {% render 'cta' %}
          
          <div class="review-card flex-row-center">
            <div class="review-img">
              <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img2.jpg?v=1656165646" alt=""> 
            </div>
            <div class="review-content">
              <span class="review">{{ product.metafields.custom.review }}</span>
              <strong class="name">Walter C.</strong>
              <strong class="verify">Verified Buyer</strong>
            </div>
          </div>
          
        </div>

      <div class="banner-img desk-only">
        <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/img7.jpg?v=1656164987">
        <div class="giraffly-trust-badge" style="padding-right: 16%;"></div>
      </div>
    {% comment %} <img src="{{ 'badge.svg' | asset_url }}"> {% endcomment %}
      </div>
    </div>
  </div>
</section>